.container {
    width: 100vw;
    min-height: 100vh; 
    height: 100%;
    z-index: -1;
    position: relative;
    overflow: hidden;
}

.description {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;
    color: var(--darkbrown);
}

.contact-icons {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    gap: 15px;
}

.description h1 {
    font-family: 'Yeseva One', cursive;
    font-size: 30px;
    margin-bottom: 5px;
}

.description h2 {
    font-family: 'Yeseva One', cursive;
    color: var(--lightbrown);
    font-size: 20px;
    font-style: italic;
    margin: 0;
}

.description p {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 15px;
    font-weight: 800;
    margin: 0;
    margin-top: 5px;
}

.circle-1 {
    position: absolute;
    z-index: -1;
    top: 0%;
    left: 0%;
    width: 70vw;
    height: 70vw;
    background: var(--lightyellow);
    border-radius: 50%;
    filter: blur(20vw);
    opacity: 100%;
}

.circle-2 {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 0%;
    width: 30vw;
    height: 30vw;
    background: var(--orange);
    border-radius: 50%;
    filter: blur(20vw);
    opacity: 100%;
}

.circle-3 {
    position: absolute;
    z-index: -1;
    bottom: 0%;
    right: 0%;
    width: 70vw;
    height: 70vw;
    background: var(--mutedpink);
    border-radius: 50%;
    filter: blur(20vw);
    opacity: 70%;
}

.mobile-logo {
    display: flex;
    position: fixed;
    z-index: 1;
    background-image: url("../images/new_logo.webp");
    background-size: cover;
    background-repeat: none;
    margin-left: 15px;
    margin-top: 20px;
    width: 30px;
    height: 30px;
}
