body {
	background: #B7C57D;
}

.container {
  margin: auto;
  width: 90%;
  max-width: 1920px;
  border: 3px solid #73AD21;
  font-family: sans-serif;
}

.heading {
  color: rebeccapurple;
}

/* Project Photo Size */
.project-photo {
    width: 50%;
    height: 50%;
}

/* Links for Projects */
.project-titles {
  text-align: center;
}

.project-links {
    color: white;
    text-decoration: none;
}

.project-technology {
    color: hotpink;
    text-align: center;
}

/* Links for menu */
.nav-links {
  display: flex;
  flex-direction: row-reverse;
  list-style: none;
  padding-left: 0;
}
.nav-link-item {
  padding-left: 4rem;
}

.nav-link-text {
  color: white;
  text-decoration: none;
}

/* mouse over link */
.nav-link-text:hover {
  color: grey;
}

.site-title {
  font-size: 3rem;
  color: gray;
  font-weight: 700;
  margin: 3rem 0;
}
