@import "./typography.css";

body {
	/*background: #B7C57D;*/
    background: #B7C57D;
    margin: 0;
}

/* body::after {
    background-image: url("../images/grilled.png");
    content: "";
    mix-blend-mode: multiply;
    opacity: 0.7;
    height: 1000%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
} */

/*CONTAINERS*/

.container {
  margin: auto;
  width: 100%;
  max-width: 1920px;
  border: 3px solid #73AD21;
  font-family: sans-serif;
}

.introduction {
    width: 100%;
    height: 100vh;
    border: 3px solid blue;
    box-shadow: inset 0px 0px 0px 4px #578d2b, inset 0px 0px 0px 9px #B7C57D, inset 0px 0px 0px 11px #578d2b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.about-me {
    background: #A2BC88;
    width: 100%;
    min-height: 100vh;
    border: 3px solid purple;
    border-top: 1px solid #578d2b;
    border-bottom: 1px solid #A2BC88;
    box-shadow: inset 0px 0px 0px 4px #578d2b, inset 0px 0px 0px 9px #A2BC88, inset 0px 0px 0px 11px #578d2b;
}

.projects {
    background: #E5F7D2;
    width: 100%;
    min-height: 100vh;
    border: 3px solid purple;
    border-top: 1px solid #578d2b;
    border-bottom: 1px solid #E5F7D2;
    box-shadow: inset 0px 0px 0px 4px #578d2b, inset 0px 0px 0px 9px #E5F7D2, inset 0px 0px 0px 11px #578d2b;
}

.contact {
    background: #82976D;
    width: 100%;
    min-height: 100vh;
    border: 3px solid purple;
    border-top: 1px solid #B7C57D;
    border-bottom: 1px solid #B7C57D;
    box-shadow: inset 0px 0px 0px 4px #578d2b, inset 0px 0px 0px 9px #82976D, inset 0px 0px 0px 11px #578d2b;
}

.project-container {
    margin-top: 80px;
    margin-bottom: 80px;
    width: 100%;
    min-height: 100vh;
    border: 3px solid pink;
}

/*TITLE SECTION TYPOGRAPHY*/

.home-intro {
    font-family: 'Staatliches', cursive;
    color: #578d2b;
    font-size: 13vh;
    line-height: 10vh;
    margin: 0;
}

.home-description {
    font-family: 'Nanum Myeongjo', serif;
    font-style: normal;
    font-weight: bold;
    color: #578d2b;
    font-size: 3.5vh;
    letter-spacing: 1px;
    margin: 3px;
}

/*HEADINGS*/

.heading {
  font-family: 'Staatliches', cursive;
  text-align: center;
  color: #578d2b;
  font-size: 7vh;
  letter-spacing: 1vw;
  margin: 0;
  margin-bottom: 10vh;
}

.heading-decoration {
    font-family: 'Beth Ellen', cursive;
    text-align: center;
    color: #578d2b;
    font-size: 25px;
    margin: 0;
    margin-top: 10vh;
}

.subheading {
    font-family: 'Staatliches', cursive;
    width: 75%;
    margin: auto;
    margin-bottom: 15px;
    color: #578d2b;
    font-size: 25px;
    letter-spacing: 5px;
}

/*ABOUT ME SECTION*/

.profile {
    width: 75%;
    margin: auto;
    border: 3px solid yellow;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 50px;
}

.profile-pic {
    height: 30vh;
    width: 30vh;
    margin: auto;
    background-image: url("../images/cat.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 3px solid #578d2b;
    display: inline-block;
}

.middle {
    width: 75%;
    margin: auto;
    border: 3px solid orangered;
}

.education {
    width: 75%;
    margin: auto;
    margin-left: 0;
    border: 3px solid yellow;
    display: grid;
    grid-template-columns: 10% 35% 55%;
    margin-bottom: 5vh;
}

.education-item {
    color: #578d2b;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 2.5vh;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.education-GT {
    width: 10vh;
    height: 10vh;
    background-color: #578d2b;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-image: url("../images/gt.png");
    background-size: cover;
    margin: auto;
}

.education-DHS {
    width: 10vh;
    height: 10vh;
    background-color: #578d2b;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-image: url("../images/dhs.png");
    background-size: cover;
    margin: auto;
}

.skills {
    width: 75%;
    border: 3px solid yellow;
    display: grid;
    grid-template-columns: 80% 20%;
    margin-bottom: 50px;
    text-align: right;
    margin: auto;
    margin-right: 0;
}

.skills-item {
    color: #578d2b;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 800;
    font-size: 2.5vh;
    border: 3px solid black;
}

.tools {
    width: 75%;
    border: 3px solid yellow;
    display: grid;
    grid-template-columns: 20% 80%;
    margin-bottom: 50px;
    text-align: left;
    margin: auto;
    margin-left: 0;
}

.tools-item {
    color: #578d2b;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 800;
    font-size: 2.5vh;
    border: 3px solid black;
}

.language {
    width: 50%;
    border: 3px solid yellow;
    display: grid;
    grid-template-columns: 85% 15%;
    text-align: center;
    margin: auto;
    margin-right: 0;
    margin-bottom: 5vh;
}

.korean {
    width: 5vh;
    height: 5vh;
    background-color: #578d2b;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-image: url("../images/korea.png");
    background-size: cover;
    background-position: 50% 50%;
    margin: auto;
}

.english {
    width: 5vh;
    height: 5vh;
    background-color: #578d2b;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-image: url("../images/us.png");
    background-size: cover;
    margin: auto;
}

.language-item {
    color: #578d2b;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 800;
    font-size: 2.5vh;
    border: 3px solid black;
    text-align: right;
}

.chart {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-row-gap: 3vh;
}

.chart2 {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-row-gap: 3vh;
}

.bar {
  grid-column-end: 6;
  background-color: #AA6728;
  border-radius: 5px 0 0 5px;
  /* border-top: 1px solid red;
  border-bottom: 1px solid red;
  border-left: 1px solid red;
  border-right: 1px solid red; */
}

.bar2 {
  grid-column-start: 1;
  background-color: #E69A59;
  border-radius: 0 5px 5px 0;
  /* border-top: 1px solid red;
  border-bottom: 1px solid red;
  border-left: 1px solid red;
  border-right: 1px solid red; */
}


/*PROJECTS*/

.project-grid {
    width: 75%;
    margin: auto;
    border: 3px solid yellow;
    display: grid;
    grid-template-columns: 30% 70%;
}

.view-more {
    height: fit-content;
    border: 3px solid orangered;
    margin-bottom: 5vh;
}

.view-less {
    height: 30vh;
    border: 3px solid orangered;
    margin-bottom: 5vh;
}

.project-description {
    font-family: "Roboto-light";
    color: #578d2b;
    font-size: 18px;
    /* border-top: 1px solid red;
    border-bottom: 1px solid red;
    border-left: 1px solid red;
    border-right: 1px solid red; */
}

.project-item {
    font-family: "Roboto-light";
    color: #578d2b;
    font-size: 18px;
    border-top: 1px solid purple;
    border-bottom: 1px solid purple;
    border-left: 1px solid purple;
    border-right: 1px solid purple;
}

.box1 {
   grid-column-start: 1;
}

.box2 {
   grid-column-start: 2;
}

/* Project Photo Size */
.project-button {
    display: block;
    margin-left: 0;
    margin-top: 20px;
    width: 75%;
    height: 75%;
    background: red;
    border: none;
    padding: none;
}

.project-photo {
    width: 100%;
    height: 100%;
}

/* Links for Projects */
.project-titles {
    font-family: "Roboto";
    color: #578d2b;
    font-size: 30px;
    letter-spacing: 1px;
    margin-bottom: 0;
    margin-top: 0;
}

.project-links {
    text-decoration: none;
}

.project-info-container {
    color: #578d2b;
    font-family: "Roboto-light";
    font-size: 16px;
}

/* CONTACT INFO*/
.contact-grid {
    width: 75%;
    margin: auto;
    border: 3px solid yellow;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 50px;
}

.contact-item {
    color: #578d2b;
    font-family: "Roboto";
    font-size: "18px";
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

/*NAVIGATION BAR*/
ul {
  list-style-type: none;
}

/* Links for menu */
.nav-links {
  display: flex;
  position: fixed;
  right: 3vh;
  margin-top: 3vh;
  /* background: rgba(255, 255, 255, 0.3); */
  align-items: center;
  justify-content: center;
  /* border: 1px solid hotpink; */
}

.nav-link-item {
    margin-bottom: 3vh;
    /* border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black; */
}

.nav-link-text {
  color: #578d2b;
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 800;
  font-size: 2.5vh;
  letter-spacing: 1px;
  text-decoration: none;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255, 0)),
    linear-gradient(#578d2b, #578d2b);
  background-size: 100% 2px, 0 2px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.3s linear;
}

/* mouse over link */
.nav-link-text:hover {
  background-size: 0 2px, 100% 2px;
}

.main-logo {
    display: flex;
    position: fixed;
    margin: 3vh;
    width: 100px;
    height: 50px;
}

.main-logo:hover {
    transition: 0.5s ease;
    filter: opacity(0.3);
}

.site-title {
  font-size: 3rem;
  color: gray;
  font-weight: 700;
  margin: 3rem 0;
}
