@import "./typography.css";
@import '~material-design-icons/iconfont/material-icons.css';

:root {
    --darkbrown: #4D4637;
    --lightbrown: #A7905E;
    --orange: #F28907;
    --lightorange: #F2A007;
    --yellow: #F2C335;
    --lightyellow: #F2D479;
    --lightestyellow: #FFEFCA;
    --mutedpink: #CDA291;
}

::selection {
  background: var(--mutedpink);
}

body {
	background:white;
    position: relative;
    /* background:
        radial-gradient(63.33% 49.07% at -22.76% 43.9%, rgba(167, 144, 94, 0.2) 0%, rgba(167, 144, 94, 0) 100%),
        radial-gradient(74.75% 22.12% at 54.32% 106.52%, rgba(242, 160, 7, 0.2) 0%, rgba(242, 160, 7, 0) 100%),
        radial-gradient(73.33% 36.44% at 118.49% 55.36%, rgba(205, 162, 145, 0.4) 0%, rgba(205, 162, 145, 0) 100%),
        radial-gradient(138.75% 78.45% at 193.91% 2.62%, #F2D479 0%, rgba(242, 212, 121, 0) 100%),
        #FFFFFF; */
    margin: 0;
}

/* body::after {
    background-image: url("../images/grilled.png");
    content: "";
    mix-blend-mode: multiply;
    opacity: 0.7;
    height: 1000%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
} */

/*CONTAINERS*/

.container {
  margin: auto;
  width: 100%;

  /* border: 3px solid #73AD21; */
  font-family: sans-serif;
}

.introduction {
    background: white;
    z-index: -1;
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 1920px;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* animation-duration: 2s;
    animation-name: intro; */
}

@keyframes intro {
  from {
    box-shadow: inset 0px 0px 0px 10vh #B7C57D;
  }

  to {
    box-shadow: inset 0px 0px 0px 8vh var(--green), inset 0px 0px 0px 9vh var(--mint), inset 0px 0px 0px 10vh var(--green);
  }
}

.about-me {
    width: 100%;
    min-height: 100vh;
    /* border: 3px solid purple; */
    position: relative;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.projects {
    width: 100%;
    min-height: 100vh;
    /* border: 3px solid purple; */
    position: relative;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.contact {
    width: 100%;
    min-height: 100vh;
    position: relative;
    /* border: 3px solid purple; */
    border-top: 1px solid white;
}

.project-container {
    margin-top: 80px;
    margin-bottom: 80px;
    width: 100%;
    min-height: 100vh;
    /* border: 3px solid pink; */
}

.plate {
    background: white;
    position: absolute;
    z-index: -1;
    opacity: 15%;
    width: 98%;
    height: 98%;
    border-radius: 15px;

    /*Centering*/
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
}

/*TITLE SECTION TYPOGRAPHY*/

.highlight {
    background: linear-gradient(
        to bottom,
        transparent 50%,
        var(--yellow) 50%
        );
    transition: 0.5s ease;
}

.highlight:hover {
  opacity: 0.5;
}

.home-intro {
    font-family: 'Yeseva One', cursive;
    text-align: left;
    color: var(--darkbrown);
    font-size: 10vh;
    margin: auto;
    margin-bottom: 0;
    margin-left: 20%;
}

.home-description {
    font-family: 'Nanum Myeongjo', serif;
    font-style: normal;
    font-weight: bold;
    text-align: left;
    color: var(--darkbrown);
    font-size: 3.5vh;
    letter-spacing: 1px;
    margin: auto;
    margin-top: 0;
    margin-left: calc(20% + 5px);
}

/*HEADINGS*/

.heading {
  font-family: 'Yeseva One', cursive;
  text-align: center;
  color: var(--darkbrown);
  font-size: 7vh;
  letter-spacing: 0.3vw;
  margin: 0;
  margin-bottom: 2vh;
}

.heading-decoration {
    font-family: 'Nanum Myeongjo', serif;
    font-weight: bold;
    text-align: center;
    color: var(--darkbrown);
    font-size: 25px;
    margin: 0;
    margin-top: 10vh;
}

.subheading {
    font-family: 'Yeseva One', cursive;
    width: 75%;
    margin: auto;
    margin-bottom: 15px;
    color: var(--darkbrown);
    font-size: 25px;
    letter-spacing: 5px;
}

/*ABOUT ME SECTION*/

.profile {
    width: 75%;
    margin: auto;
    /* border: 3px solid yellow; */
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 3vh;
    color: var(--darkbrown);
}

.profile-pic {
    height: 30vh;
    width: 30vh;
    margin: auto;
    background-image: url("../images/cat.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 10px solid var(--lightestyellow);
    display: inline-block;
}

.middle {
    width: 75%;
    margin: auto;
    /* border: 3px solid orangered; */
}

.education {
    width: 75%;
    margin: auto;
    margin-left: 0;
    /* border: 3px solid yellow; */
    display: grid;
    grid-template-columns: 10% 35% 55%;
    margin-bottom: 5vh;
}

.education-item {
    color: var(--darkbrown);
    font-family: 'Nanum Myeongjo', serif;
    font-size: 2.5vh;
    /* border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black; */
}

.education-GT {
    width: 10vh;
    height: 10vh;
    background-color: var(--lightyellow);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-image: url("../images/gt.png");
    background-size: cover;
    margin: auto;
}

.education-DHS {
    width: 10vh;
    height: 10vh;
    background-color: var(--lightyellow);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-image: url("../images/dhs.png");
    background-size: cover;
    margin: auto;
}

.skills {
    width: 75%;
    /* border: 3px solid yellow; */
    display: grid;
    grid-template-columns: 80% 20%;
    margin-bottom: 50px;
    text-align: right;
    margin: auto;
    margin-right: 0;
}

.skills-item {
    color: var(--darkbrown);
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 800;
    font-size: 2.5vh;
    /* border: 3px solid black; */
}

.tools {
    width: 75%;
    /* border: 3px solid yellow; */
    display: grid;
    grid-template-columns: 20% 80%;
    margin-bottom: 50px;
    text-align: left;
    margin: auto;
    margin-left: 0;
}

.tools-item {
    color: var(--darkbrown);
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 800;
    font-size: 2.5vh;
    /* border: 3px solid black; */
}

.language {
    width: 50%;
    /* border: 3px solid yellow; */
    display: grid;
    grid-template-columns: 85% 15%;
    text-align: center;
    margin: auto;
    margin-right: 0;
    margin-bottom: 5vh;
}

.korean {
    width: 5vh;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--lightyellow);
    border-radius: 50%;
    background-image: url("../images/korea.png");
    background-size: cover;
    background-position: 50% 50%;
    margin: auto;
}

.english {
    width: 5vh;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--lightyellow);
    border-radius: 50%;
    background-image: url("../images/us.png");
    background-size: cover;
    margin: auto;
}

.language-item {
    color: var(--darkbrown);
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 800;
    font-size: 2.5vh;
    /* border: 3px solid black; */
    text-align: right;
}

.chart {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-row-gap: 3vh;
}

.chart2 {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-row-gap: 3vh;
}

.bar {
  grid-column-end: 6;
  background-color: var(--lightorange);
  border-radius: 5px 0 0 5px;
  /* border-top: 1px solid red;
  border-bottom: 1px solid red;
  border-left: 1px solid red;
  border-right: 1px solid red; */
}

.bar2 {
  grid-column-start: 1;
  background-color: var(--yellow);
  border-radius: 0 5px 5px 0;
  /* border-top: 1px solid red;
  border-bottom: 1px solid red;
  border-left: 1px solid red;
  border-right: 1px solid red; */
}


/*PROJECTS*/

.project-grid {
    width: 75%;
    margin: auto;
    /* border: 3px solid yellow; */
    display: grid;
    grid-template-columns: 30% 70%;
}

.view-more {
    height: fit-content;
    /* border: 3px solid orangered; */
    margin-bottom: 5vh;
}

.view-less {
    height: 30vh;
    /* border: 3px solid orangered; */
    margin-bottom: 5vh;
}

.project-description {
    font-family: "Nanum Myeongjo", serif;
    color: var(--darkbrown);
    font-size: 2.5vh;
    /* border-top: 1px solid red;
    border-bottom: 1px solid red;
    border-left: 1px solid red;
    border-right: 1px solid red; */
}

.project-item {
    font-family: 'Yeseva One', cursive;
    color: var(--darkbrown);
    font-size: 18px;
    margin-left: 5vw;
    /* border-top: 1px solid purple;
    border-bottom: 1px solid purple;
    border-left: 1px solid purple;
    border-right: 1px solid purple; */
}

.box1 {
   grid-column-start: 1;
}

.box2 {
   grid-column-start: 2;
}

/* Project Photo Size */
.project-button {
    display: block;
    margin-left: 0;
    margin-top: 20px;
    width: 75%;
    height: 75%;
    background: red;
    border: none;
    padding: none;
}

.project-photo {
    width: 100%;
    height: 100%;
}

/* Links for Projects */
.project-titles {
    font-family: 'Yeseva One', cursive;
    color: var(--darkbrown);
    font-size: 4vh;
    letter-spacing: 1px;
    margin-bottom: 0;
    margin-top: 0;
}

.project-links {
    text-decoration: none;
}

.project-info-container {
    color: #578d2b;
    font-family: "Roboto-light";
    font-size: 16px;
}

/* CONTACT INFO*/
.contact-grid {
    width: 75%;
    margin: auto;
    /* border: 3px solid yellow; */
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 50px;
}

.contact-item {
    color: var(--darkbrown);
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 2vh;
    /* border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black; */
}

/*NAVIGATION BAR*/
ul {
  list-style-type: none;
}

/* Links for menu */
.nav-links {
  display: flex;
  position: fixed;
  z-index: 1;
  right: 3vh;
  margin-top: 3vh;
  /* background: rgba(255, 255, 255, 0.3); */
  align-items: center;
  justify-content: center;
  /* border: 1px solid hotpink; */
}

.nav-link-item {
    margin-bottom: 3vh;
    /* border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black; */
}

.nav-link-text {
  color: var(--darkbrown);
  font-family: 'Yeseva One', cursive;
  font-size: 2.5vh;
  letter-spacing: 1px;
  text-decoration: none;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255, 0)),
    linear-gradient(var(--orange), var(--orange));
  background-size: 100% 2px, 0 2px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.3s linear;
}

/* mouse over link */
.nav-link-text:hover {
  background-size: 0 2px, 100% 2px;
}

.main-logo {
    display: flex;
    position: fixed;
    z-index: 1;
    margin: 3vh;
    width: 100px;
    height: 50px;
}

.main-logo:hover {
    transition: 0.5s ease;
    filter: opacity(0.5);
}

.site-title {
  font-size: 3rem;
  color: gray;
  font-weight: 700;
  margin: 3rem 0;
}
