@import "./typography.css";

:root {
    --darkbrown: #4D4637;
    --lightbrown: #A7905E;
    --orange: #F28907;
    --lightorange: #F2A007;
    --yellow: #F2C335;
    --lightyellow: #F2D479;
    --lightestyellow: #FFEFCA;
    --mutedpink: #CDA291;
}

::selection {
  background: var(--mutedpink);
}

body {
	background:white;
    position: relative;
    margin: 0;
}

/*CONTAINERS*/

.container {
  margin: auto;
  width: 100%;

  /* border: 3px solid #73AD21; */
}

.introduction {
    background: white;
    z-index: -1;
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 1920px;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-intro {
    font-family: 'Yeseva One', cursive;
    text-align: left;
    color: var(--darkbrown);
    font-size: 10vh;
    margin: auto;
    margin-bottom: 0;
}

.home-description {
    font-family: 'Nanum Myeongjo', serif;
    font-style: normal;
    font-weight: bold;
    text-align: left;
    color: var(--darkbrown);
    font-size: 3.5vh;
    letter-spacing: 1px;
    margin: auto;
    margin-top: 0;
}

.circle-1 {
    position: absolute;
    z-index: -1;
    top: 0%;
    left: 0%;
    width: 100vh;
    height: 100vh;
    background: var(--lightyellow);
    border-radius: 50%;
    filter: blur(30vh);
    opacity: 100%;
    transition: 0.5s ease;
}

.circle-2 {
    position: absolute;
    z-index: -1;
    top: 0%;
    left: 30%;
    width: 50vh;
    height: 50vh;
    background: var(--orange);
    border-radius: 50%;
    filter: blur(30vh);
    opacity: 100%;
    transition: 0.7s ease;
}

.circle-3 {
    position: absolute;
    z-index: -1;
    bottom: 0%;
    right: 0%;
    width: 75vh;
    height: 75vh;
    background: var(--mutedpink);
    border-radius: 50%;
    filter: blur(30vh);
    opacity: 100%;
    transition: 0.5s ease;
}

.random-circle-1 {
    position: absolute;
    z-index: -2;
    top: 0%;
    left: 0%;
    width: 75vh;
    height: 75vh;
    border-radius: 50%;
    filter: blur(30vh);
    opacity: 100%;
    transition: 0.5s ease;
}

.random-circle-2 {
    position: absolute;
    z-index: -2;
    top: 0%;
    right: 0%;
    width: 50vh;
    height: 50vh;
    border-radius: 50%;
    filter: blur(30vh);
    opacity: 100%;
    transition: 0.5s ease;
}

/*NAVIGATION BAR*/

ul {
  list-style-type: none;
}

/* Links for menu */
.nav-links {
  position: fixed;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  z-index: 1;
  right: 5vh;
  margin-top: 5vh;
  /* border: 1px solid hotpink; */
}

.nav-link-item {
    margin-bottom: 3vh;
    /* border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black; */
}

.nav-link-text {
  color: var(--darkbrown);
  font-family: 'Yeseva One', cursive;
  font-size: 2.5vh;
  letter-spacing: 1px;
  text-decoration: none;

  /*Underline Transition*/
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255, 0)),
    linear-gradient(var(--orange), var(--orange));
  background-size: 100% 2px, 0 2px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.3s linear;
}

/* mouse over link */
.nav-link-text:hover {
  background-size: 0 2px, 100% 2px;
}

.main-logo {
    display: flex;
    position: fixed;
    z-index: 1;
    margin: 5vh;
    width: 100px;
    height: 50px;
}

.main-logo:hover {
    transition: 0.5s ease;
    filter: opacity(0.5);
}
