@import "./typography.css";

body {
	background: #B7C57D;
}

/*CONTAINERS*/

.container {
  margin: auto;
  width: 90%;
  max-width: 1920px;
  /*border: 3px solid #73AD21;*/
  border: 3px solid #73AD21;
  font-family: sans-serif;
}

.introduction {
    width: 50%;
    height: 100vh;
    border: 3px solid purple;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sections {
    width: 100%;
    min-height: 100vh;
    border: 3px solid purple;
}

/*TITLE SECTION TYPOGRAPHY*/

.home-intro {
    font-family: "Rochester";
    color: white;
    font-size: 120px;
    letter-spacing: 20px;
    margin: 3px;
}

.home-name {
    font-family: "Lemonmilk";
    color: white;
    font-size: 25px;
    letter-spacing: 10px;
    margin: 3px;
}

.home-description {
    font-family: adobe-caslon-pro, serif;
    font-style: normal;
    font-weight: 400;
    color: white;
    font-size: 25px;
    letter-spacing: 1px;
    margin: 3px;
}

.main-logo {
    display: block;
    width: 100px;
    height: 50px;
    background: url(../images/logo.png) no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 auto;
}

.main-logo:hover {
    transition: 0.5s ease;
    filter: opacity(0.5) drop-shadow(0 0 0 grey) saturate(1000%);
}

/*HEADINGS*/

.heading {
  font-family: "Butler-bold";
  color: white;
  font-size: 50px;
  letter-spacing: 5px;
}

.subheading {
    font-family: "Butler-bold";
    width: 75%;
    margin: auto;
    color: white;
    font-size: 25px;
    letter-spacing: 5px;
}

/*ABOUT ME SECTION*/

.education {
    width: 75%;
    margin: auto;
    border: 3px solid yellow;
    display: grid;
    grid-template-columns: 20% 30% 50%;
    margin-bottom: 50px;
}

.education-item {
    color: white;
    font-family: "Roboto-light";
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.education-item-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.skills {
    width: 75%;
    margin: auto;
    border: 3px solid yellow;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 50px;
}

.skills-item {
    color: white;
    font-family: "Roboto";
    font-size: "18px";
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}


/*PROJECTS*/

/* Project Photo Size */
.project-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
}

/* Links for Projects */
.project-titles {
  color: #3C4517;
  text-align: center;
}

.project-links {
    text-decoration: none;
}

.project-technology {
    color: hotpink;
    text-align: center;
}

/*NAVIGATION BAR*/

ul {
  list-style-type: none;
}

/* Links for menu */
.nav-links {
  display: flex;
  position: fixed;
  top: 0;
  width: 90%;
  background: #B7C57D;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  padding-left: 0;
}
.nav-link-item {
  padding-left: 4rem;
  display: inline-block;
}

.nav-link-text {
  color: white;
  text-decoration: none;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255, 0)),
    linear-gradient(#ffffff, #ffffff);
  background-size: 100% 2px, 0 2px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.3s linear;
}

/* mouse over link */
.nav-link-text:hover {
  background-size: 0 2px, 100% 2px;
}

.site-title {
  font-size: 3rem;
  color: gray;
  font-weight: 700;
  margin: 3rem 0;
}
