@import "./typography.css";

.card-body {
    margin: auto;
    width: 90%;
    height: 90vh;
    max-width: 1920px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid red;
    overflow: hidden;
}

.box {
    background-color: orangered;
    height: 90px;
    width: 90px;

    left: 0px;
    top: 0px;

    position: absolute;
}

.blue {
    background-color: blue;
    height: 90px;
    width: 90px;

    left: 0px;
    top: 0px;

    position: absolute;
}

.color-box {
    background-color: green;
    height: 90px;
    width: 90px;

    left: 0px;
    top: 0px;

    position: absolute;
}

.demo {
  margin-top: 50px;
  position: relative;
}

.animation {
  animation: sampleanimation 1s forwards;
}

@keyframes sampleanimation {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: 300px;
    top: 0px;
  }
  50% {
    left: 300px;
    top: 150px;
  }
  75% {
    left: 0px;
    top: 150px;
  }
}

.card {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";
    margin-right: 50px;

    font-family: "Roboto";
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.5);
    /*box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);*/
    text-align: center;

    transition: 0.5s ease;
    cursor: pointer;
}

.card-image {
    grid-area: image;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.overlayone {
    display: inline-block;
    position: relative;
}

.overlayinn {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    height: 91.5%;
    width: 75%;
    opacity: 0;
    top: 0;
    left: 0;
    margin-left: 0;
    margin-top: 20px;
    transition: opacity .5s;
}

.overlay-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: "white";
    text-align: "center";
    font-size: "18px";
}

.overlayinn:hover {
  opacity: 1;
  transition: opacity .5s;
}

.card-text {
    grid-area: text;
    margin: 25px;
}

.card-text .date {
    color: grey;
    fontsize: 13px;
}

.card-text p {
    color: grey;
    font-size: 15px;
    font-weight: 300;
}

.card-text h2 {
    margin-top: 0px;
    font-size: 28px;
}

.card-stats {
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: rgba(255, 255, 255, 0.4);
}

.card-stats .stat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    color: white;
}

.card-stats .type {
    font-size: 11px;
    font-weight: 300;
    color: grey;
    text-transform: uppercase;
}

.card-stats .value {
    font-size: 15px;
    font-weight: 500;
    color: grey;
}

/*.card:hover {
    transform: scale(1.1);
    /*box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}*/
