@import "./typography.css";

.card-body {
    margin: auto;
    width: 90%;
    height: 90vh;
    max-width: 1920px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid red;
    overflow: hidden;
}

.card {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";
    margin-right: 50px;

    font-family: "Roboto";
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.5);
    /*box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);*/
    text-align: center;

    transition: 0.5s ease;
    cursor: pointer;
}

.card-image {
    grid-area: image;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card-text {
    grid-area: text;
    margin: 25px;
}

.card-text .date {
    color: grey;
    fontsize: 13px;
}

.card-text p {
    color: grey;
    font-size: 15px;
    font-weight: 300;
}

.card-text h2 {
    margin-top: 0px;
    font-size: 28px;
}

.card-stats {
    grid-area: stats;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: rgba(255, 255, 255, 0.4);
}

.card-stats .stat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    color: white;
}

.card-stats .type {
    font-size: 11px;
    font-weight: 300;
    color: grey;
    text-transform: uppercase;
}

.card-stats .value {
    font-size: 15px;
    font-weight: 500;
    color: grey;
}

.card:hover {
    transform: scale(1.1);
    /*box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);*/
}
