@import "./typography.css";

/* CONTAINERS */

.about-me {
    width: 100%;
    min-height: 100vh;
    /* border: 3px solid purple; */
    position: relative;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.projects {
    width: 100%;
    min-height: 100vh;
    /* border: 3px solid purple; */
    position: relative;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.contact {
    width: 100%;
    min-height: 100vh;
    position: relative;
    /* border: 3px solid purple; */
    border-top: 1px solid transparent;
}

.plate {
    position: absolute;
    z-index: -1;
    width: 98%;
    height: 98%;
    border-radius: 15px;

    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .5);
    background: white;
    opacity: 25%;

    /*Centering*/
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
}

/*TITLE SECTION TYPOGRAPHY*/

.highlight {
    background: linear-gradient(
        to bottom,
        transparent 50%,
        var(--yellow) 50%
        );
    transition: 0.5s ease;
}

.highlight:hover {
  opacity: 0.5;
}



/*HEADINGS*/

.heading {
  font-family: 'Yeseva One', cursive;
  text-align: center;
  color: var(--darkbrown);
  font-size: 7vh;
  letter-spacing: 0.3vw;
  margin: 0;
  margin-bottom: 2vh;
}

.heading-decoration {
    font-family: 'Nanum Myeongjo', serif;
    font-weight: bold;
    text-align: center;
    color: var(--darkbrown);
    font-size: 25px;
    margin: 0;
    margin-top: 10vh;
}

.subheading {
    font-family: 'Yeseva One', cursive;
    width: 75%;
    margin: auto;
    margin-bottom: 15px;
    color: var(--darkbrown);
    font-size: 25px;
    letter-spacing: 5px;
}

/*ABOUT ME SECTION*/

.profile {
    width: 75%;
    margin: auto;
    /* border: 3px solid yellow; */
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 3vh;
    color: var(--darkbrown);
}

.profile-pic {
    height: 30vh;
    width: 30vh;
    margin: auto;
    background-image: url("../images/cat.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 10px solid var(--lightestyellow);
    display: inline-block;
}

.middle {
    width: 75%;
    margin: auto;
    /* border: 3px solid orangered; */
}

.education {
    width: 75%;
    margin: auto;
    margin-left: 0;
    /* border: 3px solid yellow; */
    display: grid;
    grid-template-columns: 10% 35% 55%;
    margin-bottom: 5vh;
}

.education-item {
    color: var(--darkbrown);
    font-family: 'Nanum Myeongjo', serif;
    font-size: 2.5vh;
    /* border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black; */
}

/* .education-GT {
    width: 10vh;
    height: 10vh;
    background-color: var(--lightyellow);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-image: url("../images/gt.png");
    background-size: cover;
    margin: auto;
} */

/* .education-DHS {
    width: 10vh;
    height: 10vh;
    background-color: var(--lightyellow);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-image: url("../images/dhs.png");
    background-size: cover;
    margin: auto;
} */

.skills-grid {
    position: relative;
    display: flex;
    /* border: 3px solid green; */
    width: 50%;
    margin: auto;
}

.info-container {
    position: relative;
    display: flex;
    width: 50%;
    border: 3px solid yellow;
    margin: auto;
}

.skills {
    display: flex;
    flex-direction: column;
    width: auto;
    /* border: 1px solid red; */
}

.skillsItem {
    width: auto;
    color: var(--darkbrown);
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 800;
    font-size: 2.5vh;
    /* border: 1px solid black; */
    margin-bottom: 15px;
}

.test {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* border: 1px solid orange; */
}

.bar-animation {
    /* border: 1px solid red; */
    margin-bottom: 15px;
    animation: 3s forwards slidein;
}

@keyframes slidein {
  from {
    width: 0%;
    height: 100%;
    border-radius: 5px;
    background: var(--yellow);
  }

  to {
    width: attr(target);
    height: 100%;
    border-radius: 5px;
    background: var(--orange);
  }
}

.tools {
    width: 75%;
    border: 3px solid yellow;
    display: grid;
    grid-template-columns: 20% 80%;
    margin-bottom: 50px;
    text-align: left;
    margin: auto;
    margin-left: 0;
}

.tools-item {
    color: var(--darkbrown);
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 800;
    font-size: 2.5vh;
    border: 3px solid black;
}

.language {
    width: 50%;
    /* border: 3px solid yellow; */
    display: grid;
    grid-template-columns: 85% 15%;
    text-align: center;
    margin: auto;
    margin-right: 0;
    margin-bottom: 5vh;
}

/* .korean {
    width: 5vh;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--lightyellow);
    border-radius: 50%;
    background-image: url("../images/korea.png");
    background-size: cover;
    background-position: 50% 50%;
    margin: auto;
} */

/* .english {
    width: 5vh;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--lightyellow);
    border-radius: 50%;
    background-image: url("../images/us.png");
    background-size: cover;
    margin: auto;
} */

.language-item {
    color: var(--darkbrown);
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 800;
    font-size: 2.5vh;
    /* border: 3px solid black; */
    text-align: right;
}

.chart {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-row-gap: 3vh;
}

.chart2 {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-row-gap: 3vh;
}

.bar {
  grid-column-end: 6;
  background-color: var(--lightorange);
  border-radius: 5px 0 0 5px;
  /* border-top: 1px solid red;
  border-bottom: 1px solid red;
  border-left: 1px solid red;
  border-right: 1px solid red; */
}

.bar2 {
  grid-column-start: 1;
  background-color: var(--yellow);
  border-radius: 0 5px 5px 0;
  /* border-top: 1px solid red;
  border-bottom: 1px solid red;
  border-left: 1px solid red;
  border-right: 1px solid red; */
}


/*PROJECTS*/

.project-grid {
    width: 75%;
    margin: auto;
    display: grid;
    grid-template-columns: 30% 70%;
}

.view-more {
    height: fit-content;
    margin-bottom: 5vh;
}

.view-less {
    height: 30vh;
    margin-bottom: 5vh;
}

.project-description {
    font-family: "Nanum Myeongjo", serif;
    color: var(--darkbrown);
    font-size: 2.5vh;
    margin-bottom: 15vh;
    /* border-top: 1px solid red;
    border-bottom: 1px solid red;
    border-left: 1px solid red;
    border-right: 1px solid red; */
}


.project-item {
    font-family: 'Yeseva One', cursive;
    color: var(--darkbrown);
    font-size: 18px;
    margin-left: 5vw;
    /* border-top: 1px solid purple;
    border-bottom: 1px solid purple;
    border-left: 1px solid purple;
    border-right: 1px solid purple; */
}

.box1 {
   grid-column-start: 1;
}

.box2 {
   grid-column-start: 2;
}


.project-titles {
    font-family: 'Yeseva One', cursive;
    color: var(--darkbrown);
    font-size: 4vh;
    letter-spacing: 1px;
    margin-bottom: 0;
    margin-top: 0;
}

/* CONTACT INFO*/
.contact-grid {
    width: 30%;
    margin: auto;
    /* border: 3px solid yellow; */
    display: grid;
    grid-template-columns: 20% 80%;
    grid-row-gap: 3vh;
    margin-bottom: 50px;
}

.contact-item {
    margin: auto;
    color: var(--darkbrown);
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 2vh;
    /* border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black; */
}

.contact-item:hover {
    transform: translateY(-5px);
    color: var(--lightbrown);
    transition: 0.3s ease;
}

.disabled {
    pointer-events: none;
}
