@font-face {
  font-family: "Rochester";
  src: url("../fonts/rochester.woff");
}

@font-face {
  font-family: "Lemonmilk";
  src: url("../fonts/lemonmilk.woff");
}

@font-face {
  font-family: "Phosphorus";
  src: url("../fonts/phosphor.woff");
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff");
}
