@font-face {
  font-family: "Rochester";
  src: url("../fonts/rochester.woff");
}

@font-face {
  font-family: "Lemonmilk";
  src: url("../fonts/lemonmilk.woff");
}

@font-face {
  font-family: "Phosphorus";
  src: url("../fonts/phosphor.woff");
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff");
}

@font-face {
  font-family: "Roboto-bold";
  src: url("../fonts/roboto-bold.woff");
}

@font-face {
  font-family: "Roboto-light";
  src: url("../fonts/roboto-light.woff");
}

@font-face {
  font-family: "Butler-bold";
  src: url("../fonts/Butler-Bold.woff");
}

@font-face {
  font-family: "Icons-south";
  src: url("../fonts/icons-south-st.woff");
}

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Raleway&family=Staatliches&family=Nanum+Myeongjo:wght@400;700;800&family=Beth+Ellen&display=swap');
